/* ===========================================================
	# Form
=========================================================== */

.o-form__field {
	& + & {
		padding-top: $padding-medium;
	}
}

.o-input,
.o-select select,
.o-textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.o-validation {
	display: none;
	margin-top: $line-height / 4;

	.is-valid & {
		display: block;
		color: $success;
	}

	.is-invalid & {
		display: block;
		color: $error;
	}
}



//= LABEL ====================================================

.o-label {
	font-weight: $bold;
	padding-bottom: $line-height / 4;
}

.o-label__note {
	color: $border-colour;
	float: right;
	font-size: .8em;
	font-style: italic;
}



//= SELECT ===================================================

.o-select {
	position: relative;
	vertical-align: middle;
	z-index: 1;

	select {
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 1;

		&::-ms-expand {
		    display: none;
		}

		.lt-ie10 & {
			padding-right: 1rem;
		}
	}

	&:after {
		background: $background-colour;
		border-radius: 0 $border-radius - $border-width $border-radius - $border-width 0;
		box-sizing: border-box;
		color: $border-colour;
		content: '\25BE';
		display: block;
		height: calc( 100% - .2rem );
		padding: 1rem 1.5rem;
		position: absolute;
		pointer-events: none;
		right: $border-width;
		top: $border-width;
		z-index: 0;

		.lt-ie10 & {
			display: none;
		}
	}
}

// FireFox 30 hide native down arrow
:-moz-any( .o-select ):after {
	z-index: 1;
}


//= FIELDSET =================================================

.o-fieldset__legend {
	font-weight: $bold;
	padding-bottom: $line-height / 4;
	width: 100%;

	.o-label__note {
		float: none;
	}

}

.o-fieldset__list {
	list-style: none;
}

.o-fieldset__item {
	margin: 0;

	.o-label {
		font-weight: normal;
	}

	input {
		margin: 0 .5rem 0 0;
		width: auto;
	}

}

.enhance {

	.o-fieldset__item {

		.o-label {
			// background: $light-2;
			// border: $border-width solid $light-1;
			// border-radius: $border-radius;
			font-weight: normal;
			padding: 2rem 2rem 2rem 4rem;
			position: relative;

			&:after {
				background: $light-1;
				bottom: 2rem;
				box-sizing: border-box;
				content: '';
				position: absolute;
				left: 0;
				top: 2rem;
				width: 2.5rem;
			}
		}

		.o-label--checkbox {
			&:after {
				border-radius: $border-radius;
			}
		}

		.o-label--radio {
			&:after {
				border-radius: 100%;
			}
		}

		input {
			display: none;
		}

	}

}


//= BUTTON ===================================================

.o-input + .button,
.o-select + .button,
.o-textarea + .button {
	margin-top: $line-height * 2;
}

@include respond-max( $mq-medium ) {

	.enhance {

		.o-fieldset__item + .o-fieldset__item {
			// margin-top: $padding-small / 2;
		}

	}

}

@include respond-min( $mq-medium ) {

	.o-form__field {

		& + & {
			padding-top: $padding-large;
		}

	}

	.enhance {

		.o-fieldset__list {
			margin-left: -$padding-small / 2;
		}

		.o-fieldset__item {
			float: left;
			padding-left: $padding-small / 2;
			width: 50%;

			&:nth-child( n+3 ) {
				// margin-top: $padding-small / 4;
			}

			.o-label {
				&:after {
					width: 3rem;
				}
			}

		}

	}

}