/* ===========================================================
*
* Version: 	2.0.0
* Authors: 	Kev Simpson & Paulius Putna
* Company:  The Graphic Design House
*
=========================================================== */
/* ===========================================================

	# VARIABLES

=========================================================== */
/* ===========================================================

	# COLOURS

=========================================================== */
/* ===========================================================

	# BASE VALUES

=========================================================== */
/* ===========================================================

	# MEDIA QUERIES

=========================================================== */
/* ===========================================================

	# GRID SETTINGS

=========================================================== */
/* ===========================================================

	# MIXINS

=========================================================== */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* ===========================================================

  # RESET

=========================================================== */
@-ms-viewport {
  width: device-width;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* ===========================================================

  # JS access to breakpoints:
  https://github.com/JoshBarr/js-media-queries

=========================================================== */
/* ===========================================================

	# TEXT

=========================================================== */
html {
  font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
  color: #000000;
  font-family: "proxima-nova", Helvetica, Arial, Geneva, sans-serif;
  font-size: 1.8rem;
  -webkit-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.4em;
}

p + p,
p + ul,
p + ol,
ul + p,
ol + p {
  margin-top: 1.4em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  padding-top: 1.4em;
}

em {
  font-style: italic;
}

::-moz-selection {
  background: #cefaff;
}

::selection {
  background: #cefaff;
}

::-moz-selection {
  background: #cefaff;
}
/* ===========================================================

	# HEADINGS

=========================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
.tera,
.giga,
.mega,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
  font-weight: bold;
  line-height: 1;
}

.tera {
  font-size: 4.61841rem;
  padding-bottom: 2.30921rem;
}

.giga {
  font-size: 4.10526rem;
  padding-bottom: 2.05263rem;
}

.mega {
  font-size: 3.64912rem;
  padding-bottom: 1.82456rem;
}

h1,
.alpha {
  font-size: 3.24366rem;
  padding-bottom: 1.62183rem;
}

h2,
.beta {
  font-size: 2.88325rem;
  padding-bottom: 1.44163rem;
}

h3,
.gamma {
  font-size: 2.56289rem;
  padding-bottom: 1.28145rem;
}

h4,
.delta {
  font-size: 2.27812rem;
  padding-bottom: 1.13906rem;
}

h5,
.epsilon {
  font-size: 2.025rem;
  padding-bottom: 1.0125rem;
}

h6,
.zeta {
  font-size: 1.8rem;
  padding-bottom: 0.9rem;
}

.intro {
  font-size: 2.27812rem;
  line-height: 1.3;
}
/* ===========================================================

	# ANCHOR

=========================================================== */
a {
  color: #00b7ce;
  transition: color 0.3s ease;
}
a:hover, a:focus {
  color: #ed1165;
}

/* ===========================================================

	# BUTTON

=========================================================== */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ===========================================================

	# LISTS

=========================================================== */
li {
  margin: 0.35em 3rem;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}
li > ul,
li > ol {
  margin-top: 0.35em;
}

/* ===========================================================

	# TABLE

=========================================================== */
table {
  border: 0.2rem solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 0.2rem solid #ccc;
  padding: 1rem 2rem;
  text-align: left;
}

/* ===========================================================

	# FORMS

=========================================================== */
input,
select,
textarea {
  background: none;
  border: 0.2rem solid #ccc;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  transition: border 0.3s ease;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #00b7ce;
}

textarea {
  overflow: auto;
  resize: none;
}

label {
  display: block;
  margin-top: 1.4em;
  padding-bottom: 0.7em;
}
label:first-child {
  margin-top: 0;
}

label[for] {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

/* ===========================================================

	# PAGE

=========================================================== */
.o-page {
  background: #FFFFFF;
}

/* ===========================================================

	# WRAP

=========================================================== */
.o-wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.o-wrap--center {
  margin-left: auto;
  margin-right: auto;
}

.o-wrap--medium {
  max-width: 75rem;
}

.o-wrap--large {
  max-width: 92rem;
}

.o-wrap--x-large {
  max-width: 140rem;
}
/* ===========================================================

	# SECTION

=========================================================== */
.o-section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
/* ===========================================================

	# BUTTONS

=========================================================== */
.button {
  border-radius: 0.4rem;
  display: inline-block;
  line-height: 1;
  padding: 1.5rem 2rem;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}
.button:hover, .button:focus {
  color: #FFFFFF;
}
.button:focus {
  box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 0.1);
}

.button--primary {
  background: #00b7ce;
  color: #FFFFFF;
}
.button--primary:hover, .button--primary:focus {
  background: #ed1165;
}

.button--secondary {
  background: #ed1165;
  color: #FFFFFF;
}
.button--secondary:hover, .button--secondary:focus {
  background: #fad620;
}

.button--disabled {
  background: #ccc;
  color: #FFFFFF;
  cursor: not-allowed;
}

/* ===========================================================

  # TABLES

=========================================================== */
.o-table {
  width: 100%;
}

.o-table--scroll {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
/* ===========================================================

	# FORMS

=========================================================== */
.o-input,
.o-select select,
.o-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.o-label__note {
  color: #ccc;
  float: right;
  font-size: .8em;
  font-style: italic;
}

.o-select {
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.o-select select {
  position: relative;
  text-indent: .01px;
  text-overflow: '';
  z-index: 1;
}
.o-select select::-ms-expand {
  display: none;
}
.lt-ie10 .o-select select {
  padding-right: 1rem;
}
.o-select:after {
  background: #FFFFFF;
  border-radius: 0 0.2rem 0.2rem 0;
  box-sizing: border-box;
  color: #ccc;
  content: '\25BE';
  display: block;
  height: calc( 100% - .2rem );
  padding: 1rem 1.5rem;
  position: absolute;
  pointer-events: none;
  right: 0.2rem;
  top: 0.2rem;
  z-index: 0;
}
.lt-ie10 .o-select:after {
  display: none;
}

:-moz-any(.o-select):after {
  z-index: 1;
}

.o-input + .button,
.o-select + .button,
.o-textarea + .button {
  margin-top: 2.8em;
}

/* ===========================================================

	# MEDIA

=========================================================== */
img {
  max-width: 100%;
  vertical-align: top;
}

.o-media img {
  width: 100%;
}

.o-media--video {
  position: relative;
}
.o-media--video:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.o-media--video iframe,
.o-media--video object,
.o-media--video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.o-media--large {
  margin: 4rem 0;
  position: relative;
}
/* ===========================================================

	# NAV

=========================================================== */
.c-page__header {
  background: #ebebeb;
}

.c-nav--main .c-nav__list {
  list-style: none;
}
.c-nav--main .c-nav__item {
  margin: 0;
}
/* ===========================================================

	# COVER

=========================================================== */
.c-cover {
  position: relative;
  background-size: cover;
}

.c-cover__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-cover:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-top: 75%;
}

/* ===========================================================

	# ASPECT RATIOS

=========================================================== */
.c-ratio {
  position: relative;
  background-size: cover;
}
.c-ratio .c-ratio__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-ratio:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
}
.c-ratio.c-ratio--cover:after {
  /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
  padding-bottom: 56.25%;
}
.c-ratio.c-ratio--tile:after {
  /* 1:1 */
  padding-bottom: 100%;
}

/* ===========================================================

	# SITEMAP

=========================================================== */
/* ===========================================================

  # OVERRIDES

=========================================================== */
.no-mustard * {
  transition: none !important;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.t-strong {
  font-weight: 700;
}

.t-small {
  font-size: 75%;
}

/*# sourceMappingURL=style.css.map */
@media only screen and (min-width: 600px) {
  html {
    font-family: 'small';
  }
  .tera {
    font-size: 6.11805rem;
    padding-bottom: 3.05902rem;
  }

  .giga {
    font-size: 5.32004rem;
    padding-bottom: 2.66002rem;
  }

  .mega {
    font-size: 4.62612rem;
    padding-bottom: 2.31306rem;
  }

  h1,
  .alpha {
    font-size: 4.02271rem;
    padding-bottom: 2.01136rem;
  }

  h2,
  .beta {
    font-size: 3.49801rem;
    padding-bottom: 1.74901rem;
  }

  h3,
  .gamma {
    font-size: 3.04175rem;
    padding-bottom: 1.52087rem;
  }

  h4,
  .delta {
    font-size: 2.645rem;
    padding-bottom: 1.3225rem;
  }

  h5,
  .epsilon {
    font-size: 2.3rem;
    padding-bottom: 1.15rem;
  }

  h6,
  .zeta {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .intro {
    font-size: 2.645rem;
  }
  .o-section {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-family: 'medium';
  }
  body,
  input,
  textarea,
  select,
  button {
    font-size: 2rem;
  }
  .tera {
    font-size: 7.26663rem;
    padding-bottom: 3.63331rem;
  }

  .giga {
    font-size: 6.18436rem;
    padding-bottom: 3.09218rem;
  }

  .mega {
    font-size: 5.26329rem;
    padding-bottom: 2.63164rem;
  }

  h1,
  .alpha {
    font-size: 4.47939rem;
    padding-bottom: 2.2397rem;
  }

  h2,
  .beta {
    font-size: 3.81225rem;
    padding-bottom: 1.90613rem;
  }

  h3,
  .gamma {
    font-size: 3.24447rem;
    padding-bottom: 1.62223rem;
  }

  h4,
  .delta {
    font-size: 2.76125rem;
    padding-bottom: 1.38063rem;
  }

  h5,
  .epsilon {
    font-size: 2.35rem;
    padding-bottom: 1.175rem;
  }

  h6,
  .zeta {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .intro {
    font-size: 2.76125rem;
  }
  .o-wrap {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .o-section {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
  .o-media--large {
    margin: 6rem 0;
  }

  .o-media--left,
  .o-media--right {
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    width: 40%;
  }
  .o-media--left + *,
  .o-media--right + * {
    margin-top: 1.4em;
  }

  .o-media--left {
    float: left;
    margin-right: 1.4em;
  }

  .o-media--right {
    float: right;
    margin-left: 1.4em;
  }
  .c-nav--main .c-nav__item {
    display: inline;
  }
  .c-nav--main .c-nav__link {
    display: inline-block;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-family: 'large';
  }
  .o-media--large {
    margin-left: -7.5%;
    width: 115%;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-family: 'x-large';
  }
  .o-media--large {
    margin-left: -15%;
    width: 130%;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-family: 'xx-large';
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx) {
  p {
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .o-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 799px) {
  .o-table--stacked thead {
    display: none;
  }
  .o-table--stacked td {
    display: block;
  }
  .o-table--stacked td:before {
    content: attr(data-label) ": ";
    display: block;
    width: 100%;
  }
}