/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.o-page__inner {
	flex: 1 1 auto;
	width: 100%;
}