---
title: Generic article (news)
pageClass: s-article
nav: blog
---

<main class="o-page__inner o-page__content" role="main">
	<article class="c-article" itemscope itemtype="http://schema.org/Article">
		<header class="c-article__header o-wrap o-wrap--medium">
			<h1 class="c-article__heading" itemprop="headline">This is a news article</h1>
			<ul class="c-meta-data">
				<li class="c-meta-data__item">
					<time datetime="2015-05-2409:33:38" pubdate="pubdate">22<sup>nd</sup> April 2015</time>
					<meta itemprop="datePublished" content="2015-05-24">
				</li>
				<li class="c-meta-data__item" itemprop="keywords">
					<a href="" rel="category">Press release</a>
				</li>
			</ul>
		</header>

		<div class="o-wrap o-wrap--medium s-free-content" itemprop="articleBody">
			<div class="u-intro" itemprop="description">
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</div>

			<p>Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			<h2>Sed posuere consectetur est at lobortis.</h2>

			<p>Sed posuere consectetur est at lobortis. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			<p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum.</p>

			<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
		</div>
	</article>
	<aside class="c-comments"></aside>
</main>