---
title: Components
---

<div class="o-wrap o-wrap--x-large">
	<div id="cover" class="o-section">
		{{> cover }}
	</div>

	<div id="breadcrumb" class="o-section">
		{{> breadcrumb }}
	</div>

	<div id="quote" class="o-section">
		{{> blockquote }}
	</div>

	<div id="alert" class="o-section">
		{{> alert alert.success }}
		{{> alert alert.info }}
		{{> alert alert.error }}
	</div>

	<div id="sitemap" class="o-section">
		{{> sitemap }}
	</div>
</div>