---
title: Landing page
---


<main class="o-page__inner o-page__content" role="main">
	<header class="c-hero o-wrap o-wrap--large">
		<h1 class="c-hero__heading o-page__heading">{{title}}</h1>

		<div class="c-hero__description u-intro">
			<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		</div>
	</header>
	<section class="o-wrap o-wrap--large">
		<!-- need to add a boilerplate listing here. Either cards or link list -->
	</section>
</main>