/* ===========================================================

	# Carousel

=========================================================== */

.js-carousel {

	.c-carousel__item {
		display: none;
	}

	.c-carousel__item--first {
		display: block;
	}

	&.slick-initialized {

		.c-carousel__item {
			display: block;
		}

	}

}

.c-carousel {
	position: relative;
}

.c-carousel__nav {
	color: $border-colour;
	position: absolute;
	top: 50%;
	z-index: 2;
	line-height: 1;
	font-size: 3.2rem;
	text-align: center;
	transform: translateY( -50% );
	transition: color $speed $ease;

	&:hover,
	&:focus {
		color: $pri;
	}

	&.slick-disabled {
		&:before {
			color: lighten( $border-colour, 5 );
		}
	}
}

.c-carousel__nav--prev {
	left: 0;
}

.c-carousel__nav--next {
	right: 0;
}

.c-carousel--invert {

	.c-carousel__nav {
		color: $white;
		opacity: .5;
		transition: opacity $speed $ease;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

}

/* dots */

.c-carousel__dots {
    position: relative;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        width: 2.1rem;
		height: 2.1rem;
        margin: 0 .5rem;
        padding: 0;
        cursor: pointer;

		&:before {
			content: "";
			width: 1.7rem;
			height: .2rem;
			display: block;
			position: absolute;
			top: -.6rem;
			left: .2rem;
			transition: background $speed $ease;
		}

		&.slick-active:before {
			background-color: $pri;
		}


		&:hover,
		&:focus,
		&.slick-active {

			button:before {
				background-color: $pri;
			}

		}

	}

    button {
        border: .2rem solid $pri;
        background: transparent;
        display: block;
        height: 2.1rem;
        width: 2.1rem;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: .5rem;
        cursor: pointer;
		border-radius: 50%;

        &:hover,
		&:focus {
            outline: none;
        }

        &:before {
			content: "";
			width: .7rem;
            height: .7rem;
            position: absolute;
            top: 0;
            left: 0;
			margin: .7rem;
			border-radius: 50%;
            line-height: 2.1rem;
            text-align: center;
			transition: background $speed $ease;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

}

.c-carousel--invert {

	.c-carousel__dots {

		button {
			border-color: $white;
		}

		li {
			&.slick-active:before {
				background-color: $white;
			}


			&:hover,
			&:focus,
			&.slick-active {

				button:before {
					background-color: $white;
				}

			}
		}

	}

}

.c-carousel--images {
	.c-carousel__dots {
		position: absolute;
		bottom: $line-height;;
	}
}

@include respond-min( $mq-large ) {

	.c-carousel__nav {
		font-size: 4.8rem;
	}

}
