/* ===========================================================

	# Pagination

=========================================================== */

.c-pagination__page {
	padding: 1.7rem;
	color: $white;
	font-size: 1.6rem;
	background-color: $pri;
	display: inline-block;
}