<blockquote class="c-quote">
	<div class="c-quote__copy">
		Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
	</div>
	<footer class="c-quote__src">Quote source</footer>
</blockquote>