<nav role="navigation" class="c-breadcrumb">
    <p id="breadcrumb-label" class="c-breadcrumb__label">You are here:</p>
    <ol id="breadcrumb" class="c-breadcrumb__list" aria-labelledby="breadcrumb-label">
        <li class="c-breadcrumb__item"><a href="index.html" class="c-breadcrumb__link" title="Home">Home</a></li>
        <li class="c-breadcrumb__item"><a href="products.html" class="c-breadcrumb__link" title="Products" >Products</a></li>
        <li class="c-breadcrumb__item"><a href="shoes.html" class="c-breadcrumb__link is-active">Shoes</a></li>
    </ol>
</nav>