<article class="c-cover">
	<div class="c-cover__wrap o-wrap--large">
		<div class="c-cover__content">
			Content here
		</div>
	</div>

	<picture class="c-cover__image-wrap">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="https://placeimg.com/1200/600/nature" media="(min-width: 600px)">
		<source srcset="https://placeimg.com/800/400/nature/grayscale" media="(max-width: 599px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset="https://placeimg.com/800/400/nature/grayscale" alt="Default" class="c-cover__image js-lazyload">
	</picture>

</article>