<header class="c-header" role="banner">
	<nav class="c-nav" role="navigation">
		<ul class=" c-nav__list">
			<li>
				<a href="index.html#typography">
					<span>Typography</span>
				</a>
			</li>
			<li>
				<a href="index.html#buttons">
					<span>Buttons</span>
				</a>
			</li>
			<li>
				<a href="index.html#tables">
					<span>Tables</span>
				</a>
			</li>
			<li>
				<a href="index.html#forms">
					<span>Forms</span>
				</a>
			</li>
			<li>
				<a href="index.html#sitemap">
					<span>Sitemap</span>
				</a>
			</li>
		</ul>
	</nav>
</header>