<header class="c-header" role="banner">
	<div class=" c-header__inner o-wrap o-wrap--x-large">
		<button class="c-header__toggle-menu-button" id="toggle-menu" aria-haspopup="true">Menu</button>

		{{> nav }}
	</div>
</header>