<header class="c-header" role="banner">
	<button class="c-header__toggle-menu-button" id="toggle-menu" aria-haspopup="true" data-module="Toggle" data-toggle="js-nav">Menu</button>

	{{> nav }}
	
</header>