<nav class="c-nav c-nav--main" role="navigation" aria-labelledby="toggle-menu">
	<ul class="c-nav__list">
		<li class="c-nav__item c-nav__item--parent">
			<a href="index.html" class="c-nav__link is-active">Style guide</a>
			<ul class="c-nav__list c-nav__list--sub">
				<li class="c-nav__item">
					<a href="index.html#typography" class="c-nav__link">
						Typography
					</a>
				</li>
				<li class="c-nav__item">
					<a href="index.html#buttons" class="c-nav__link">
						Buttons
					</a>
				</li>
				<li class="c-nav__item">
					<a href="index.html#tables" class="c-nav__link">
						Tables
					</a>
				</li>
				<li class="c-nav__item">
					<a href="index.html#forms" class="c-nav__link">
						Forms
					</a>
				</li>
			</ul>
		</li>
		<li class="c-nav__item">
			<a href="components.html" class="c-nav__link">
				Components
			</a>
		</li>
	</ul>
</nav>