<ul class="c-sitemap">
  <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Home</a>
    <ul class="c-sitemap__list">
      <li class="c-sitemap__item"><a href="" class="c-sitemap__link">About</a>
        <ul class="c-sitemap__list">
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Business</a></li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Philosophy</a></li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Staff</a></li>
        </ul>
      </li>
      <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Works</a>
        <ul class="c-sitemap__list">
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">2015</a></li>
            <ul class="c-sitemap__list">
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Company</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Service</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Contest</a></li>
            </ul>
          </li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">2014</a>
            <ul class="c-sitemap__list">
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Company</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Service</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Contest</a></li>
            </ul>
          </li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">2013</a>
            <ul class="c-sitemap__list">
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Company</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Service</a></li>
              <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Contest</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Contact</a></li>
      <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Sitemap</a></li>
      <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Recruit</a>
        <ul class="c-sitemap__list">
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Web Director</a></li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Web Designer</a></li>
          <li class="c-sitemap__item"><a href="" class="c-sitemap__link">Web Engineer</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
