<!--
	nav element and class set on page, e.g.
	<nav class="c-nav c-nav--sub o-page__sidebar"></nav>

-->

<ul class="c-nav__list">
	<li class="c-nav__item">
		<a href="" class="c-nav__link">Page</a>
	</li>
	<li class="c-nav__item c-nav__item--parent">
		<a href="" class="c-nav__link">Page</a>
		<ul class="c-nav__list c-nav__list--sub">
			<li class="c-nav__item">
				<a href="" class="c-nav__link">Child page</a>
			</li>
		</ul>
	</li>
</ul>
