@charset 'UTF-8';

/* ===========================================================
*
* Critical CSS
* Not in use at the moment
=========================================================== */

/*
@import 'settings/global.scss';

@import 'tools/mixins.scss';

@import 'generic/reset.scss';

@import 'base/text.scss',
		'base/headings.scss',
		'base/anchor.scss',
		'base/button.scss';

@import 'objects/page.scss',
		'objects/wrap.scss',
		'objects/section.scss',
		'objects/buttons.scss';

@import 'components/nav.scss';

*/
