/* ===========================================================

  # Overrides

=========================================================== */

.u-clearfix {
	@include clearfix;
}

.u-hide-text {
	@include hide-text;
}

.u-center-content {
	text-align: center;
}

.u-highlight-text {
	color: $pri;
}

@include respond-max( $mq-small ) {

	.u-hide-mobile {
		display: none;
	}

}